project_name="test_name"  #no spaces in the project name!
sequence_type="single" # single # for paired-end need to change the scripts manually

export PROJAPPL=/projappl/dasroy/murrayry/ 

## Path to AfterQC directory
AfterQC="/scratch/dasroy/AfterQC-master"

## parameter used by HTSeq; is data strand specific ? 
stranded="yes" ## yes|reverse|no

## sortmerna parameter
sortMeRNA_ref="/projappl/dasroy/murrayry/Mouse_genome_for_rnaSeq/miscRNA_rRna_id_mouse.fasta"

## STAR aligner parameter [automagically added]

## parameter used by STAR and HTSeq
genome_file="/projappl/dasroy/murrayry/mouse_genome_data_feb2020/Mus_musculus.GRCm38.dna.primary_assembly.fa"
gene_annotation="/projappl/dasroy/murrayry/mouse_genome_data_feb2020/Mus_musculus.GRCm38.99.gtf"

## parameter used by TopHat / Cufflinks / Cuffdiff;
library_type="fr-secondstrand" #  fr-secondstrand|fr-firststrand|fr-unstranded 

## input data dir
data_dir="rawReads"

## differential expression analysis (after generating a sample_description.csv file)
biomart_dataset="mmusculus_gene_ensembl"  #or mmusculus_gene_ensembl or hsapiens_gene_ensembl
pairpattern="_-S-[RL]" #Regular expression pattern in file names to match paired samples. Use "_" for variable containing pair information
